server:
  servlet:
    context-path: /ecommerce/api

spring:
  application:
    name: outforce-ecommerce
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ecommerce-db;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: ""

  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    path: /swagger-ui

logging:
  level:
    br.com.joaolirarosas: ${LOG_LEVEL:DEBUG}